# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
NEXT_PUBLIC_GITHUB_API_BASE_URL="https://api.github.com"
NEXT_PUBLIC_PRE_RELEASE_TAG="dev"
NEXT_PUBLIC_MEASUREMENT_ID=""
CHROMIUM_PATH="/tmp/localChromium/chromium/mac-1182000/chrome-mac/Chromium.app/Contents/MacOS/Chromium"
